<div class="page" data-sidebar="#q-n-a">
  <div class="row">
    <div class="col-md-12">
      <h2>Q & A</h2>
      <a data-toggle="modal" data-target="#modal-qa" class="btn btn-warning">
        Ask a Question
      </a>
      <br><br>
    </div>
    <div class="col-md-12">
      <ul class="list-group">
        <% for question in @questions %>
          <li class="list-group-item">
            <header>
              <h4><%= link_to question.name, question_path(question) %></h4>
            </header>

            <small class="subheader indent-left">
              by <%= link_to question.user.name, user_path(question.user)%>
              <%= time_ago_in_words question.created_at %> ago |
              <%= question.answers.length%>
              <%= link_to 'answers', user_path(question.user)%>
            </small>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



