<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
      Current Image: <%= image_tag @user.image, class: 'media-object' %><br>
      <%= f.label :image %><br />
      <%= f.text_field :image, class: 'form-control validate[custom[url],custom[imageurl]]' %>
    </div>

    <div class="form-group">
      <%= f.label :codepen_username %><br />
      <%= f.text_field :codepen_username, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label 'New password' %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control validate[equals[user_password]]' %>
  </div>
  <div class="actions">
    <%= f.submit 'Update user settings', class: 'btn btn-default' %>
  </div>
<% end %>
