<div class="page" data-sidebar="#admin">
  <h1>Admin Dashboard</h1>
  <p>All admins have access to the admin dashboard. Admins can:
    <ul class="indent-left">
      <li>receive emails from users requesting 1-on-1 instructor help</li>
      <li>make other users admin</li>
      <li>create/edit/delete lessons</li>
      <li>edit/delete users</li>
    </ul>
  </p>
  <br><br>
  <h3>Admins</h3>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Codepen Username</th>
      <th>Admin?</th>
      <th>Receive instructor<br>help requests?</th>
      <th></th>
    </tr>
    <% for user in User.admins %>
        <tr class="<%= user.admin ? 'success': '' %>">
          <td><%= image_tag user.image, class: 'media-object-sm'%></td>
          <td><%= user.first_name%></td>
          <td><%= user.last_name%></td>
          <td><%= user.codepen_username%></td>
          <td><%= user.admin%></td>
          <td>Yes</td>
          <td><%= link_to 'Remove as admin', '#'%></td>
        </tr>
    <% end %>
  </table>

  <br><br>
  <h3>Students</h3>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Codepen Username</th>
      <th></th>
    </tr>
    <% for user in User.students %>
    <tr class="<%= user.admin ? 'success': '' %>">
      <td><%= image_tag user.image, class: 'media-object-sm'%></td>
      <td><%= user.first_name%></td>
      <td><%= user.last_name%></td>
      <td><%= user.codepen_username%></td>
      <td><%= user.admin%></td>
      <td><%= link_to 'Make an admin', '#'%></td>
    </tr>
    <% end %>
  </table>

</div>
