
<% if current_user %>
<div id="subnav" class="navbar-fixed-below-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="#upcoming">Current & Upcoming</a>
      </li>
      <li>
        <a href="#past">Past</a>
      </li>
    </ul>
  </div>
</div>
<% end %>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="page" id="lessonindex" data-sidebar="#lessons">
  <% unless current_user %>
      <script type="text/javascript">
          var body = document.getElementById('body')
          body.setAttribute('id','splash')
      </script>

      <div id="hello-class">
  <br><br><br><br><br><br>
  <div class="jumbotron">
    <div>

      <p>
        <b>Codelabs</b> is a Seattle-based after school program that teaches Web Design 101 to students grades 6-12 in a casual and fun project-driven environment. Codelabs is headed by a small group of volunteer web developers interested in introducing programming to the youth as a way to hone skills in creativity, design, critical thinking, and invention.

        To register for Codelabs as a student, sign up for a
        <a href="http://codepen.io" target="_newtab">Codepen.io</a> account and click on Get Started.<br><br>
      </p>

      <p><a data-toggle="modal" data-target="#modal-signup" id="get-started" class="btn btn-primary btn-lg">Get Started »</a></p>
    </div>
  </div>
  <br><br><br><br><br><br>

  <div class="jumbotron">
    <div>

      <div class="row">
        <div class="col-md-8">
          <small>The first Codelab course will be taught by <a href="http://amyhua.me" target="_newtab">Amy Hua</a> at the
            <a href="http://eastafricancs.org" target="_newtab">East African Community Services Center (EACS)</a> in South Seattle.
            Classes are free for all interested students affiliated or not affiliated with EACS and run for 3 weeks
            <b>October 14 - October 30, 2013 Mon, Tue, Wed 6pm-7pm</b>. Interested students are free to join!
            <b><a data-toggle="modal" data-target="#modal-signup" id="get-started">Get Started</a></b> to see all online announcements,
            and come into the East African Community Services Center on Mon, Tues, Wed 6pm-7pm PST for live instruction!
            Bring your laptop if you have one.
          </small>
        </div>
        <div class="col-md-4">
          <div style="width:250px;height:250px">
            <iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=7054%2B32nd%2BAve%2BS%2BSeattle%2C%2BWA%2B98118&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>
            <br>
            <div style="line-height: 14px; font-size: 14px;">

              <table width="250" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td>
                    <b>East African Community Services Ctr</b>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><small>7054 32nd Ave S<br>Seattle, WA 98118<br>(206) 721-1119</small></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="left"><small>
                    <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=7054%2B32nd%2BAve%2BS%2BSeattle%2C%2BWA%2B98118&ie=UTF8&z=15&t=m&iwloc=near">
                      View Larger Map
                    </a></small>
                  </td>
                  </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
  <% end %>

<% if current_user %>

      <div class="row">
        <div class="col-lg-12">
          <h2>Lessons in Web Design</h2><br>

<% unless @upcoming_lessons.blank? %>
          <div class="jumbotron">
            <div>
              <% first_lesson = @upcoming_lessons.first %>
              <h4 class="subheader"><i class="icon-beaker"> </i><%= first_lesson.date.strftime('%a %D')%></h4>
              <h3><%= link_to first_lesson.name, lesson_path(first_lesson) %></h3>
              <p>
                <%= first_lesson.description %><br><br>
                <a class="btn btn-default" href="<%= lesson_path(first_lesson)%>">View lesson »</a>
              </p><br>
              <%= image_tag @comic %>
            </div>
          </div>
        </div>
      </div>

  <h3 id="upcoming">Current & Upcoming lessons</h3>
  <% for lesson in @upcoming_lessons %>
    <div class="row">
            <div class="col-sm-1">
              <h1><i class="icon-beaker"></i></h1>
            </div>
            <div class="col-sm-10">
              <h4><span class="subheader"><%= lesson.date.strftime('%a %D')%></span><br><%= link_to lesson.name, lesson_path(lesson)%></h4>
              <p><%= lesson.description%></p>
              <p><a class="btn btn-default" href="<%= lesson_path(lesson)%>">View lesson »</a></p>
              <br>
            </div>
    </div>
  <% end %>
<% end %>
      <hr>
  <h3 id="past">Past lessons</h3>
  <% unless @past_lessons.blank? %>
  <% for lesson in @past_lessons %>
      <div class="row">
        <div class="col-sm-1">
          <h1><i class="icon-beaker"></i></h1>
        </div>
        <div class="col-sm-10">
          <h4><span class="subheader"><%= lesson.date.strftime('%a %D')%></span><br><%= link_to lesson.name, lesson_path(lesson)%></h4>
          <p><%= lesson.description%></p>
          <p><a class="btn btn-default" href="<%= lesson_path(lesson)%>">View lesson »</a></p>
          <br>
        </div>
      </div>
  <% end %>
  <% end %>

<% end %>
</div>
