<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="page" data-sidebar="#lessons">
  <% unless current_user %>
  <div class="jumbotron">
      <div class="container">
        <h1>Hello, class!</h1>
        <p>
          Welcome to your first dive into the world of web design.
          This course will teach you about modern web design
          from the ground up, starting with HTML and moving onto CSS and
           Javascript. By the end of this course, you will have known
          enough to design your own website and understand how to continue
          improving your skills on your own.<br><br>
          You are in for a world of fun.<br><br>

        </p>
        <p><a data-toggle="modal" data-target="#modal-signup" class="btn btn-primary btn-lg">Get Started »</a></p>
      </div>
    </div>
  <% end %>

      <div class="row">
        <div class="col-lg-12">
          <h2>Lessons in Web Design!</h2><br>
          <%= image_tag @comic %>
          <br><br>
        </div>
      <% for lesson in @lessons %>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-1">
              <h1><i class="icon-beaker"></i></h1>
            </div>
            <div class="col-md-11">
              <h4><span class="subheader"><%= lesson.date.strftime('%a %D')%></span><br><%= link_to lesson.name, lesson_path(lesson)%></h4>
              <p><%= lesson.description%></p>
              <p><a class="btn btn-default" href="<%= lesson_path(lesson)%>">View lesson »</a></p>
              <br>
            </div>
          </div>
        </div>
      <% end %>

      </div>

      <hr>


    <div class="vimiumReset vimiumHUD" style="right: 150px; opacity: 0; display: none;"></div>
</div>