<div class="navbar-fixed-below-top">
  <div class="container">
  <% unless @prev_lesson.nil? %>

        <ul class="nav navbar-nav">
          <li>
            <a href="<%= lesson_path(@prev_lesson)%>">
              <i class="icon-chevron-left"></i> prev lesson
            </a>
          </li>
      </ul>
  <% end %>
  <% unless @next_lesson.nil? %>
<ul class="nav navbar-nav pull-right">
        <li>
          <a href="<%= lesson_path(@next_lesson)%>">
            next lesson <i class="icon-chevron-right"></i>
          </a>
        </li>
      </ul>
  <% end %>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body shoulder-margins">
    <h2><%= @lesson.name %></h2>
    <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) if current_user.admin %>
    <h4 class="subheader"><%= @lesson.date.strftime('%a %D')%></h4>
    <p class="markdown">
      <%= h "\n" + @lesson.content %>
    </p>
  </div>
</div>
<br>
<%= render 'lesson_nav' %>
