<nav class="left">
  <a id="lessons" href="<%= lessons_path %>" class="tabbable button green">
    <i class="icon-home"></i>
    <span>lessons</span>
  </a>
  <!--
  <ul>
    <li>
      <a href="#" class="button">
        <i class="icon-calendar-empty"></i>
        <span>today</span>
      </a>
    </li>
    <li>
      <label for="pinned" class="button">
        <input type="checkbox" name="pinned" id="pinned">
        <i class="icon-share-alt"></i>
        <span>future</span>
      </label>
    </li>
    <li>
      <a href="#" class="button">
        <i class="icon-reply"></i>
        <span>past</span>
      </a>
    </li>
  </ul> -->
  <a id="code" href="<%=new_user_codepen_path(current_user) %>" class="tabbable button green">
    <i class="icon-terminal"></i>
    <span>code</span>
  </a>
  <!-- submenu of "code" -->
  <ul>
    <li>
      <a data-toggle="modal" data-target="#modal-submit-code" class="button">
        <i class="icon-cloud-upload"></i>
        <span>submit</span>
      </a>
    </li>
  </ul>
  <!-- -->
  <a id="class" href="<%= class_url %>" class="tabbable button green">
    <i class="icon-group"></i>
    <span>class</span>
  </a>
  <a id="my-files" href="<%= user_path(current_user) %>" class="tabbable button green">
    <i class="icon-user"></i>
    <span>me</span>
  </a>
  <a id="favorites" href="<%=favorites_path %>" class="tabbable button green">
    <i class="icon-heart-empty"></i>
    <span style="font-size: 16px">favorites</span>
  </a>
  <a id="links" href="<%=links_path %>" class="tabbable button green">
    <i class="icon-globe"></i>
    <span>links</span>
  </a>
  <a id="q-n-a" class="tabbable button green" href="<%= questions_path%>">
    <i class="icon-comments"></i>
    <span>Q & A</span>
  </a>
  <a id="ask-a-question" data-toggle="modal" data-target="#modal-qa" class="button red">
    <i class="icon-question-sign"></i>
    <span>Ask <i class="icon-question-sign"></i></span>
  </a>
  <% if current_user.admin %>
      <a id="admin" href="<%= admin_path(current_user) %>" class="tabbable button red">
        <i class="icon-dashboard"></i>
        <span>admin</i></span>
      </a>
  <% end %>
  <a id="settings" href="<%=edit_user_path(current_user)%>" class="tabbable button black">
    <i class="icon-gears"></i>
    <span>settings</span>
  </a>
  <a id="logout" href="<%= logout_path %>" class="button black bottom">
    <i class="icon-off"></i>
    <span>logout</span>
  </a>
</nav>

<!-- q and a form modal -->
<div class="modal fade in" id="modal-qa" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <div class="wrapper qa-form">
          <%= render 'qa_form' %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->

<!-- new codepen submission form modal -->
<div class="modal fade in" id="modal-submit-code" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <div class="wrapper">
          <%= render 'codepens/form' %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->

<!-- new link form modal -->
<div class="modal fade in" id="modal-add-link" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Share a link
      </div>
      <div class="modal-body">
        <div class="wrapper qa-form">
          <%= render 'links/form' %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->
