<%= form_for (@user=User.new), html: {class: 'narrow', role: 'form'} do |f| %>
    <div class="form-group">
      <%= f.text_field :first_name, placeholder: 'First Name', class: 'validate[required] form-control' %>
    </div>
    <div class="form-group">
      <%= f.text_field :last_name, placeholder: 'Last Name', class: 'validate[required] form-control' %>
    </div>
    <div class="form-group">
      <%= f.text_field :codepen_username, placeholder: 'Your Codepen Username', class: 'validate[required] form-control' %>
      <small>Don't have one? Sign up at <a href="http://codepen.io" target="_newtab">codepen.io.</a></small>
    </div>
    <div class="form-group">
      <%= f.text_field :image, placeholder: 'Image URL (http://...)', class: 'validate[required] validate[custom[url]] validate[custom[imageurl]] form-control' %>
      <small>Provide an image URL with a .jpg, .jpeg, .png, or .gif extension that will show next to your username.</small>
    </div>
    <div class="form-group">
      <%= f.text_field :email, placeholder: 'Email', class: 'validate[required] validate[custom[email]] form-control' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, placeholder: 'Password', class: 'form-control validate[required,minSize[6],maxSize[50]]', id: 'password1' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control validate[required,equals[password1]]', name: 'password_confirmation' %>
    </div>

    <div class="wide center">
      <%= f.submit 'Sign up', class: 'btn btn-success' %><br>
    </div>
<% end %>