<!DOCTYPE html>
<html>
<head>
  <title>Code Labs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_url%>">Codelabs</a>
    </div>
    <div class="navbar-collapse collapse">
      <% if current_user %>

          <span class="right btn btn-success"><i class="icon-user"></i> <%= current_user.first_name %> <%= current_user.last_name %></span>

      <% else %>

        <%= form_tag user_sessions_path, :method => :post, class: 'navbar-form navbar-right' do %>
              <a type="button" data-toggle="modal" data-target="#modal-signup" class="btn btn-warning"> Register</a>
            <div class="form-group">
              <%= text_field_tag :email, params[:email], placeholder: 'Email', class: 'form-control' %>
            </div>

            <div class="form-group">
              <input id="password" name="password" type="password" placeholder="Password" class="form-control">
            </div>


            <button name="commit" type="submit" value="submit" class="btn btn-success"><i class="icon-circle-arrow-right"></i></button>

            <a href="#modal-reset-password" title="Forgot your password?" data-placement="bottom" data-toggle="modal" id="reset-password-link"><i class="icon-question-sign"></i></a>
        <% end %>
      <% end %>


      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lessons <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
            <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<% unless flash.blank? %>
    <div class="float-center removable">
      <div class="flash removable">
        <% flash.each do |name, msg| -%>
            <div class="<%=name%>">
              <%=msg%> <a href="#" data-dismiss="alert" class="remove"><i class="icon-remove"></i></a>
            </div>

        <% end %>
      </div>
    </div>
<% end %>

<% if current_user %>
    <%= render 'sidenav' %>
<% end %>

<div class="container body">
  <%= yield %>
</div>
<div class="container">
  <footer>
    <p>© CodeLabs 2013</a></p>
  </footer>
</div>
    <div class="modal fade in" id="modal-signup" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Create an account</h3>
          </div>
          <div class="modal-body">
            <div class="wrapper">
              <%= render 'signup' %>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div><!-- /.modal -->

<div class="modal fade in" id="modal-reset-password" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Forgot your password?</h4>
      </div>
      <div class="modal-body">
        <div class="wrapper">

            <%= form_tag password_resets_path, :method => :post do %>

                <%= label_tag 'Send yourself instructions to reset your password.' %><br><br>
                <%= text_field_tag :email, nil, placeholder: 'Email', class: 'form-control' %><br><br>
                <%= submit_tag "Send", class: 'btn btn-success' %>
            <% end %>

        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->



<%= javascript_include_tag "application" %>
</body>
</html>


